.dropzoneCustomClass {
  background-color: whitesmoke;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  border: 4px solid greenyellow;
}
.dropzoneMessageClassName{
  background-color: greenyellow;
}
.dropzoneItemClassName {

}
.dropzoneItemClassName:not(.dropzone--has-thumbnail) > .dropzone__item-thumbnail {
  background-color: darkgrey;
  border: 4px solid greenyellow;
}
.dropzoneItemClassName > .dropzone__item-thumbnail {
  background-color: whitesmoke;
  border: 4px solid black;
}


.dropzoneDetailsClassName {
  top: 18px;
  background-color: black;
  border: 3px solid whitesmoke;
  margin: 18px;
  color: greenyellow;
  width: 80%;
}
