:root {
  --preview-size: 128px;
  --dropzone-min-height: 64px;
}
.dropzone, .dropzone * {
  box-sizing: border-box;
}
.dropzone {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  min-height: var(--dropzone-min-height);
  border: 2px dashed #03A062;
  border-radius: 4px;
  padding: 4px;
  // Class for the div that
  // contain the message when
  // the items array is empty
  &__message {
    flex-grow: 1;
    text-align: center;
  }
  // Item element
  &__item {
    position: relative;
    display: inline-block;
    margin: auto auto;
    padding: 4px;
  }
  &__item:hover {
    z-index: 1000;
  }
  // Error and success mark
  &__error-mark, &__success-mark{
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 4px;
    height: var(--preview-size);
    width: var(--preview-size);
  }
  &--has-error > .dropzone__error-mark > * {
    display: block;
  }
  &--has-error .dropzone__progress {
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }
  &--has-error {
    .dropzone__error-mark {
      opacity: 1;
      animation: slide-in 3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    }
  }

  &--success > .dropzone__success-mark > * {
    display: block;
  }
  &--success .dropzone__progress {
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }

  .dropzone--success > .dropzone__success-mark {
    opacity: 1;
    -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  }

  // Item thumbnail
  &__item-thumbnail {
    border-radius: 24px;
    overflow: hidden;
    width: var(--preview-size);
    height: var(--preview-size);
    position: relative;
    display: block;
  }
  &__item:not(.dropzone--has-thumbnail) > .dropzone__details {
    opacity: 1;
  }
  &__item:not(.dropzone--has-thumbnail) > .dropzone__item-thumbnail {
    border-radius: 24px;
    background: #999;
    background: linear-gradient(to bottom, #eee, #ddd);
  }
  &--has-thumbnail:hover > .dropzone__details {
    opacity: 1;
  }
  &--has-thumbnail > .dropzone__item-thumbnail > img {
    display: block;
    width: var(--preview-size);
    height: var(--preview-size);
  }
  &--has-thumbnail > .dropzone__details {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 100ms;
  }
  &--has-thumbnail:hover > .dropzone__item-thumbnail > img  {
    -webkit-transform: scale(1.01, 1.01);
    -moz-transform: scale(1.01, 1.01);
    -ms-transform: scale(1.01, 1.01);
    -o-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  // Controls
  &__item-controls {
    display: inline-block;
    position: absolute;
    z-index: 10000;
    border-radius: 4px;
    top: 2px;
    right: 2px;
    .dropzone__item-control {
      cursor: pointer;
    }
  }
  &-clickable {
    cursor: pointer;
    * {
      cursor: default;
    }
    .dropzone__message * {
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}

.dropzone__file-size {
  margin-bottom: 1em;
  font-size: 16px;
}
.dropzone__file-size > span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}

.dropzone__filename {
  white-space: nowrap;
}
.dropzone__filename > span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}
.dropzone__filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropzone__filename:not(:hover) > span {
  border: 1px solid transparent;
}



.dropzone__details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}



.dropzone__progress {
  opacity: 1;
  z-index: 1000;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;

  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
  .dropzone__progress-bar {
    position: relative;
    pointer-events: none;
    // border: 2px solid #333;
    background: rgba(255, 255, 255, 0.9);
    height: 16px;
    margin-top: -8px;
    width: 80px;
    transition: width 300ms ease-in-out;
  }
}



.dropzone--added .dropzone__progress {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}


.dropzone-processing .dropzone__progress    {
  opacity: 1;
  transition: all 0.2s linear;
}


.dropzone__item:not(.dropzone-processing) {
  .dropzone__progress {
    animation: pulse 6s ease infinite;
  }
}




