.dropzone, .dropzone * {
  box-sizing: border-box;
}
.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
  position: relative;
  min-height: 64px;
  display: flex;
  flex-flow: row wrap;
  z-index: 10;
}
.dropzone__preview:hover {
  z-index: 1000;
}
.dropzone__controls {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 9999;
  & > button {
    border-radius: 4px;
  }
}
.dropzone__preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}
.dropzone__preview-file > .dropzone-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd);
}
.dropzone-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
}
.dropzone__file-size {
  margin-bottom: 1em;
  font-size: 16px;
}
.dropzone__file-size > span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}
.dropzone__preview-file > .dropzone__details {
  opacity: 1;
}
.dropzone__preview-image:hover > .dropzone__details {
  opacity: 1;
}
.dropzone__preview-image > .dropzone-image > img {
  display: block;
}
.dropzone__preview-image:hover > .dropzone-image > img  {
  -webkit-transform: scale(1.01, 1.01);
  -moz-transform: scale(1.01, 1.01);
  -ms-transform: scale(1.01, 1.01);
  -o-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
.dropzone__filename {
  white-space: nowrap;
}
.dropzone__filename > span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}
.dropzone__filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropzone__filename:not(:hover) > span {
  border: 1px solid transparent;
}

.dropzone__preview-file > .dropzone-image {
  opacity: 1;
}
.dropzone-clickable {
  cursor: pointer;
  * {
    cursor: default;
  }
}

.dropzone__details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}
.dropzone__preview-image > .dropzone__details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.dropzone__error-mark, .dropzone__success-mark{
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
  width: 54px;
  height: 54px;
}
.dropzone--error > .dropzone__error-mark > i {
  display: block;
  transform: scale(2) translateY(50%) translateX(50%);
}
.dropzone--success > .dropzone__success-mark > i {
  display: block;
  transform: scale(2) translateY(50%) translateX(50%);
}
.dropzone__progress {
  opacity: 1;
  z-index: 1000;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;

  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
  .dropzone__progress-bar {
    position: relative;
    pointer-events: none;
    // border: 2px solid #333;
    background: rgba(255, 255, 255, 0.9);
    height: 16px;
    margin-top: -8px;
    width: 80px;
    transition: width 300ms ease-in-out;
  }
}

.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,2));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px;
  color: #747474;
  opacity: 0.98;
  background-color: #FFFFFF;
}
.gg-check-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg)
}
.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px
}
.gg-danger {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px
}

.gg-danger::after,
.gg-danger::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentColor;
  left: 7px
}

.gg-danger::after {
  top: 2px;
  height: 8px
}

.gg-danger::before {
  height: 2px;
  bottom: 2px
}
.gg-check-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg)
}
@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  30%, 70% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.dropzone--added .dropzone__progress {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
.dropzone--error .dropzone__progress {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
.dropzone-processing .dropzone__progress    {
  opacity: 1;
  transition: all 0.2s linear;
}
.dropzone--success .dropzone__progress {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.dropzone__preview:not(.dropzone-processing) {
  .dropzone__progress {
    animation: pulse 6s ease infinite;
  }
}

.dropzone--success > .dropzone__success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}


.dropzone--error {
  .dropzone__error-mark {
    opacity: 1;
    animation: slide-in 3s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }
}
